<%- include("partials/header.ejs"); %>

</head>
<body>
  <%- include("partials/nav.ejs"); %>
                  <li class="nav-item">
                  <strong class="nav-link" name="loginName" >Hi <%= fName  %></strong>
                  </li>
                </ul>
              </div>
            </div>
          </nav>

<!-- Home -->


    <div class="row">
        <div class="col-md-6">
            <h1 class="heading">Explore Zambales and Find Great Places</h1>
            <div>
             <% if(description==="shower rain"||description==="rain"||description==="thunderstorm"){%>
                <h3 class="weather__quote"><%= quote[0] %></h3>
                <%  }else{ %>
                <h3 class="weather__quote"><%= quote[1] %></h3>
                <% } %>
              
            </div>

        </div>
        <div class="col-md-6 slider">
            <div id="carouselExampleSlidesOnly" class="carousel slide " data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="images/home/sbma.png" class="d-block w-100 " alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="images/home/subic.jpeg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="images/home/zam2.png" class="d-block w-100" alt="...">
                  </div>
                </div>
              </div>
        </div>
    </div>
</div>

</section>
<!-- Home -->

<%- include("partials/middle.ejs"); %>

<!-- MAP and Weather -->
<section id="map-weather">
<div class="row">
  <div class="col-md-6">
        <section>
          <div>
            <h2 class="weather_heading">Enter your location.</h2>
            <form class="form" action="/lakwatsera_<%=userID%>/weather_q=" method="post">
              <input class="form-control" name="currentCity" type="text" placeholder="Search for a city" autofocus>
              <button type="submit" class="btn btn-primary btn-lg">SUBMIT</button>
              <span class="msg"></span>
            </form>
          </div>
        </section>
        <section class="forecast">
          <p class="city"><%= cityName %><sup > <%= countryName %></sup><span class="temp">
            <%= tempNow %><sup><%= tempUnit %></sup>
          </span><span class="descript"><%= description %></span></p>
          
        </section>
        <div class="icon">
          <img src="<%= weatherIcon %>"  alt="weather-img">
          
        </div>
      </div>
  <div class="col-md-6">
    <img class="map" src="images/map.jpg" alt="map-img">
  </div>

</div>
</section>
<!-- MAP and Weather -->

<%- include("partials/footer.ejs"); %>